/* Import Caramel - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: none;
  outline: none;
  /* outline-color: transparent; */
}

/* button 1 */
.buttons .button1 {
  display: inline-block;
  padding: 15px 25px;
  font-family: 'Caramel', cursive;
  font-size: 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  color: #333;
  border: none;
  background: radial-gradient(ellipse farthest-corner at right bottom, #c5c3c3 0%, #aeb5b5 10%, #586060 30%, #4b5050 40%, transparent 80%),
              radial-gradient(ellipse farthest-corner at left top, #fff 0%, #e9edef 7%, #cacfcf 25%, #474949 62%, #474949 100%);
  transition: all 0.2s ease;
  cursor: pointer;
}

/* .button1:focus,
.button1:active, */
.button1:hover {
  color: #eafcfc;
  background: radial-gradient(ellipse farthest-corner at left top, #fff 0%, #e9edef 7%, #cacfcf 25%, #474949 62%, #474949 100%),
              radial-gradient(ellipse farthest-corner at right bottom, #c5c3c3 0%, #aeb5b5 10%, #586060 30%, #4b5050 40%, transparent 80%);
  box-shadow: 0 0 10px #aeb5b5,
              0 0 40px #c5c3c3,
              0 0 60px #e9edef;
}

/* button 2 */
.buttons .button2 {
  padding: 15px 25px;
  font-family: 'Caramel', cursive;
  font-size: 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: -5px;
  font-weight: bold;
  color: #333;
  border: none;
  background: radial-gradient(ellipse farthest-corner at right bottom, #c5c3c3 0%, #aeb5b5 10%, #586060 30%, #4b5050 40%, transparent 80%),
              radial-gradient(ellipse farthest-corner at left top, #fff 0%, #e9edef 7%, #cacfcf 25%, #474949 62%, #474949 100%);
  border-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* .button2:focus,
.button2:active, */
.button2:hover {
  color: #eafcfc;
  background: radial-gradient(ellipse farthest-corner at left top, #fff 0%, #e9edef 7%, #cacfcf 25%, #474949 62%, #474949 100%),
              radial-gradient(ellipse farthest-corner at right bottom, #c5c3c3 0%, #aeb5b5 10%, #586060 30%, #4b5050 40%, transparent 80%);
  box-shadow: 0 0 10px #aeb5b5,
              0 0 40px #c5c3c3,
              0 0 60px #e9edef;
}

/* button 3 */
.buttons .button3 {
  padding: 15px 25px;
  font-family: 'Caramel', cursive;
  font-size: 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: -5px;
  font-weight: bold;
  color: #333;
  border: none;
  background: radial-gradient(ellipse farthest-corner at right bottom, #c5c3c3 0%, #aeb5b5 10%, #586060 30%, #4b5050 40%, transparent 80%),
              radial-gradient(ellipse farthest-corner at left top, #fff 0%, #e9edef 7%, #cacfcf 25%, #474949 62%, #474949 100%);
  border-radius: 50px;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* .button3:focus,
.button3:active, */
.button3:hover {
  color: #eafcfc;
  background: radial-gradient(ellipse farthest-corner at left top, #fff 0%, #e9edef 7%, #cacfcf 25%, #474949 62%, #474949 100%),
              radial-gradient(ellipse farthest-corner at right bottom, #c5c3c3 0%, #aeb5b5 10%, #586060 30%, #4b5050 40%, transparent 80%);
  box-shadow: 0 0 10px #aeb5b5,
              0 0 40px #c5c3c3,
              0 0 60px #e9edef;
}

/* button 4 */
.buttons .button4 {
  padding: 15px 25px;
  font-family: 'Caramel', cursive;
  font-size: 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: -5px;
  font-weight: bold;
  color: #333;
  border: none;
  background: radial-gradient(ellipse farthest-corner at right bottom, #c5c3c3 0%, #aeb5b5 10%, #586060 30%, #4b5050 40%, transparent 80%),
              radial-gradient(ellipse farthest-corner at left top, #fff 0%, #e9edef 7%, #cacfcf 25%, #474949 62%, #474949 100%);
  border-radius: 10px 100px / 120px;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* .button4:focus,
.button4:active, */
.button4:hover {
  color: #eafcfc;
  background: radial-gradient(ellipse farthest-corner at left top, #fff 0%, #e9edef 7%, #cacfcf 25%, #474949 62%, #474949 100%),
              radial-gradient(ellipse farthest-corner at right bottom, #c5c3c3 0%, #aeb5b5 10%, #586060 30%, #4b5050 40%, transparent 80%);
  box-shadow: 0 0 10px #aeb5b5,
              0 0 40px #c5c3c3,
              0 0 60px #e9edef;
}

/* button 5 */
.buttons .button5 {
  padding: 15px 25px;
  margin: 0 25%;
  font-family: 'Caramel', cursive;
  font-size: 2em;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  color: #333;
  border: none;
  width: 150px;
  height: 150px;
  background: radial-gradient(ellipse farthest-corner at right bottom, #c5c3c3 0%, #aeb5b5 10%, #586060 30%, #4b5050 40%, transparent 80%),
              radial-gradient(ellipse farthest-corner at left top, #fff 0%, #e9edef 7%, #cacfcf 25%, #474949 62%, #474949 100%);
  border-radius: 50%;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* .button5:focus,
.button5:active, */
.button5:hover {
  color: #eafcfc;
  background: radial-gradient(ellipse farthest-corner at left top, #fff 0%, #e9edef 7%, #cacfcf 25%, #474949 62%, #474949 100%),
              radial-gradient(ellipse farthest-corner at right bottom, #c5c3c3 0%, #aeb5b5 10%, #586060 30%, #4b5050 40%, transparent 80%);
  box-shadow: 0 0 10px #aeb5b5,
              0 0 40px #c5c3c3,
              0 0 60px #e9edef;
}
